.navbar {
  background: #0F0F17;

  .dropdown-menu.show {
    background: #343a40;

    .dropdown-item {
      @include gradient-text;
    }
  }
}

#logo {
  color: white;
  margin-right: 10px;
  margin-left: 75px;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding: 3px 15px;
  font-weight: bold;
  @include orange-to-pink;

  &:hover {
    color: black;
    text-decoration: none;
  }
}

#navbarNavDropdown {
  justify-content: flex-end;
  margin-right: 75px;
}
