  <div class="center">
    <h1><span>Invoice App</span> - the only accountant you will need. </h1>
    <button class="btn-light btn-lg">
      <%= link_to "Sign up", new_user_registration_path %>
    </button>
    <p> Creating invoices it's not a magic! Sign up now, and see how easy it is! </p>
  </div>
